<%include partials/header%>

<h1>This is the Landing page</h1>

<p>Welcome to the autobahn</p>

<a href="/cars">CARS PAGE</a>
<p></p>
<a href="/cars/new">Add a new car</a>

<%include partials/footer%>